.header-container {
  height: 80px;
}

.header-href {
  width: 100%;
  cursor: pointer;
}

.header-photo {
  height: 80px;
  padding: 0 40px;
}

.header-button {
  display: inline-flex;
  justify-content: end;
  width: 100%;
}

.header-button a {
  margin-right: 60px;
  background-color: #1976d2;
}
