.header-photo{
    max-width: 66px;
    padding: 0 40px;
}

.header-button{
    display: inline-flex;
    justify-content: space-between;
    width: 700px;
    padding-left: 10%;
}

.header-button a{
    margin: 15px;
    background-color: #1976d2;
}